@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@font-face {
  font-family: Poppins;
  src: url(../font/Poppins-Light.ttf);
  src: url(../font/Poppins-Light.ttf) format("embedded-opentype"), url(../font/Poppins-Light.ttf) format("woff2"), url(../font/Poppins-Light.ttf) format("woff"), url(../font/Poppins-Light.ttf) format("truetype"), url(../font/Poppins-Light.ttf) format("svg");
  font-weight: 100;
}

@font-face {
  font-family: Poppins;
  src: url(../font/Poppins-Regular.ttf);
  src: url(../font/Poppins-Regular.ttf) format("embedded-opentype"), url(../font/Poppins-Regular.ttf) format("woff2"), url(../font/Poppins-Regular.ttf) format("woff"), url(../font/Poppins-Regular.ttf) format("truetype"), url(../font/Poppins-Regular.ttf) format("svg");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url(../font/Poppins-Medium.ttf);
  src: url(../font/Poppins-Medium.ttf) format("embedded-opentype"), url(../font/Poppins-Medium.ttf) format("woff2"), url(../font/Poppins-Medium.ttf) format("woff"), url(../font/Poppins-Medium.ttf) format("truetype"), url(../font/Poppins-Medium.ttf) format("svg");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url(../font/Poppins-Bold.ttf);
  src: url(../font/Poppins-Bold.ttf) format("embedded-opentype"), url(../font/Poppins-Bold.ttf) format("woff2"), url(../font/Poppins-Bold.ttf) format("woff"), url(../font/Poppins-Bold.ttf) format("truetype"), url(../font/Poppins-Bold.ttf) format("svg");
  font-weight: bold;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.15;
  background-color: #f7f8f9;
  color: #1f2633;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img, video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.btn {
  line-height: 1;
  font-family: inherit;
  border-radius: 5px;
  border: 2px solid;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: .75rem 1rem;
}

.btn:not(:last-child) {
  margin-right: 1.5rem;
}

.btn.btn--success {
  background-color: #2cbd72;
  color: #f7f8f9;
  border-color: #2cbd72;
}

.btn.btn--default {
  background-color: transparent;
  color: rgba(70, 85, 114, 0.6);
  border-color: rgba(70, 85, 114, 0.6);
}

.btn.btn--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn.btn--icon svg {
  fill: currentColor;
  min-width: 1.75rem;
  min-height: 1.75rem;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 1rem;
}

.sidebar {
  position: fixed;
  left: 2rem;
  top: 2rem;
  background-color: #1f2633;
  width: 9rem;
  height: calc(100vh - 4rem);
  padding: 2.5rem 1.5rem;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .2s .2s;
  transition: all .2s .2s;
}

.sidebar:hover {
  width: 22rem;
}

.sidebar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 1.5rem;
  color: #f7f8f9;
  font-size: 2rem;
  overflow: hidden;
}

.sidebar__logo svg {
  fill: currentColor;
  min-height: 3rem;
  min-width: 3rem;
  height: 3rem;
  width: 3rem;
  margin-right: 1.75rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sidebar__logo span {
  font-weight: 700;
  width: 0;
  line-height: 1;
}

.sidebar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 4rem 0 0;
}

.sidebar__link {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #f7f8f9;
  border-radius: 5px;
  margin: 0 .5rem;
  padding: 1.5rem;
  overflow: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sidebar__link:not(:last-child) {
  margin-bottom: 0.75rem;
}

.sidebar__link.active, .sidebar__link:hover {
  background-color: #2cbd72;
}

.sidebar__link svg {
  fill: currentColor;
  min-width: 2rem;
  min-height: 2rem;
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  border: 2px;
}

.sidebar__link span {
  line-height: 1;
  width: 0;
}

.sidebar__link:last-child {
  margin-top: auto;
}

.sidebar hr {
  margin-bottom: .75rem;
  border-color: rgba(247, 248, 249, 0.3);
}

.sidebar:hover + .main {
  margin-left: 24rem;
}

.main {
  margin-left: 11rem;
  -webkit-transition: all .2s .2s;
  transition: all .2s .2s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 10px;
}

.header .title {
  margin-right: auto;
  text-transform: capitalize;
  font-size: 2.8rem;
  font-weight: 500;
  color: #465572;
}

.header .toggle-dark-mode {
  margin-right: 2rem;
}

.header .toggle-dark-mode #light {
  display: none;
}

.header .toggle-dark-mode svg {
  fill: #465572;
  width: 2rem;
  height: 2rem;
}

.header__notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
  position: relative;
}

.header__notification svg {
  fill: #465572;
  width: 2rem;
  height: 2rem;
}

.header__notification span {
  position: absolute;
  right: 0;
  width: 9px;
  height: 9px;
  background-color: #f05e5e;
  border-radius: 50%;
}

.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #f7f8f9;
  overflow: hidden;
}

.content {
  background-color: white;
  border-radius: 10px;
  font-size: 1.4rem;
  margin: 2rem;
  padding: 2rem;
  min-height: calc(100vh - 122.2px);
  position: relative;
}

.content .loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: inherit;
  color: #465572;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.8rem;
}

.content .loader span {
  -webkit-animation: fade .8s ease-in-out infinite alternate;
          animation: fade .8s ease-in-out infinite alternate;
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.content__table {
  text-align: center;
  font-size: 1.4rem;
}

.content__table thead th,
.content__table tfoot th {
  font-weight: 500 !important;
  background-color: #e8ebee !important;
  color: #465572 !important;
  border-color: #cccccc !important;
}

.content__table tbody tr {
  font-size: 1.2rem;
  color: #465572 !important;
}

.content__table tbody tr:nth-child(even) {
  background-color: #f7f8f9 !important;
}

.content__table tbody td {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.content__table .table--action:not(:last-child) {
  margin-right: 1.5rem;
}

.content__table .table--action svg {
  fill: #465572;
  width: 2rem;
  height: 2rem;
}

.add-product {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  overflow-y: scroll;
  visibility: hidden;
  -webkit-transition: visibility .2s, -webkit-backdrop-filter .4s;
  transition: visibility .2s, -webkit-backdrop-filter .4s;
  transition: backdrop-filter .4s, visibility .2s;
  transition: backdrop-filter .4s, visibility .2s, -webkit-backdrop-filter .4s;
}

.add-product.show {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  visibility: visible;
}

.add-product.show .add-product__box {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.add-product__box {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  background-color: #f7f8f9;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: absolute;
  width: 50%;
  padding: 4rem;
}

.add-product__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

.add-product__header .title {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 2.8rem;
  color: #465572;
}

.add-product__header .close-btn svg {
  fill: #f05e5e;
  width: 2.4rem;
  height: 2.4rem;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
  font-size: 1.6rem;
}

.form-group label {
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: #465572;
  font-size: 1.4rem;
  font-weight: 100;
}

.form-group .form-control {
  font-size: inherit;
  background-color: transparent;
  border: 1px solid rgba(70, 85, 114, 0.5);
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
}

.form-group .form-control:active, .form-group .form-control:focus {
  border: 1px solid rgba(106, 240, 94, 0.5);
  -webkit-box-shadow: 0 0 3px rgba(106, 240, 94, 0.5);
          box-shadow: 0 0 3px rgba(106, 240, 94, 0.5);
}

.form-group .form-control:is([type="file"]) {
  color: #465572;
  font-weight: 300;
}

.dataTables_wrapper {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info {
  color: rgba(70, 85, 114, 0.7) !important;
  float: none;
  text-align: left;
}

.dataTables_wrapper .dataTables_length select {
  border-radius: 7px;
  padding: 1rem 2rem;
  margin: 0 .5rem;
}

.dataTables_wrapper .dataTables_filter {
  -webkit-box-ordinal-group: 0 !important;
      -ms-flex-order: -1 !important;
          order: -1 !important;
}

.dataTables_wrapper .dataTables_filter input {
  border-color: rgba(70, 85, 114, 0.3) !important;
  border-radius: 7px;
  margin-left: 1.5rem !important;
  padding: 1rem;
  width: 27rem !important;
}

.dataTables_wrapper .dataTables_info {
  margin-right: auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: none !important;
  border-radius: 7px;
  border-color: rgba(70, 85, 114, 0.5) !important;
  color: rgba(70, 85, 114, 0.5) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border-color: #2cbd72 !important;
  color: #2cbd72 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  border-color: #2cbd72 !important;
  color: #2cbd72 !important;
  font-weight: 500;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #2cbd72 !important;
}

.dataTables_wrapper .dataTables_paginate .next,
.dataTables_wrapper .dataTables_paginate .previous {
  border: none !important;
  color: #2cbd72 !important;
}

.dataTables_wrapper .dataTables_paginate .next.disabled,
.dataTables_wrapper .dataTables_paginate .previous.disabled {
  color: rgba(70, 85, 114, 0.3) !important;
}

.dataTables_wrapper .dataTables_paginate .next.disabled:hover,
.dataTables_wrapper .dataTables_paginate .previous.disabled:hover {
  color: rgba(70, 85, 114, 0.3) !important;
}

html[data-theme="dark"] body {
  background-color: #252d3d;
}

html[data-theme="dark"] .header {
  background-color: #1f2633;
}

html[data-theme="dark"] .header .title, html[data-theme="dark"] .header__notification svg,
html[data-theme="dark"] .header .toggle-dark-mode svg {
  color: #f7f8f9;
  fill: currentColor;
}

html[data-theme="dark"] .header__account {
  background-color: #252d3d;
}

html[data-theme="dark"] .content {
  background-color: #1f2633;
}

html[data-theme="dark"] .content .btn--default {
  color: rgba(247, 248, 249, 0.7);
  border-color: rgba(247, 248, 249, 0.7);
}

html[data-theme="dark"] .content .loader {
  color: #f7f8f9;
}

html[data-theme="dark"] .content__table thead th,
html[data-theme="dark"] .content__table tfoot th {
  background-color: #252d3d !important;
  color: #f7f8f9 !important;
  border-color: #272f40 !important;
}

html[data-theme="dark"] .content__table tbody tr {
  color: #f7f8f9 !important;
}

html[data-theme="dark"] .content__table tbody tr:nth-child(even) {
  background-color: #212836 !important;
}

html[data-theme="dark"] .content__table .table--action svg {
  fill: #f7f8f9;
}

html[data-theme="dark"] .dataTables_length,
html[data-theme="dark"] .dataTables_filter,
html[data-theme="dark"] .dataTables_info {
  color: rgba(247, 248, 249, 0.7) !important;
}

html[data-theme="dark"] .dataTables_filter input {
  border-color: rgba(247, 248, 249, 0.6) !important;
}

html[data-theme="dark"] .dataTables_paginate .paginate_button {
  border-color: rgba(247, 248, 249, 0.5) !important;
  color: rgba(247, 248, 249, 0.5) !important;
}

html[data-theme="dark"] .dataTables_paginate .next,
html[data-theme="dark"] .dataTables_paginate .previous {
  color: #2cbd72 !important;
}

html[data-theme="dark"] .dataTables_paginate .next.disabled,
html[data-theme="dark"] .dataTables_paginate .previous.disabled {
  color: rgba(247, 248, 249, 0.7) !important;
}

html[data-theme="dark"] .dataTables_paginate .next.disabled:hover,
html[data-theme="dark"] .dataTables_paginate .previous.disabled:hover {
  color: rgba(247, 248, 249, 0.7) !important;
}
/*# sourceMappingURL=main.css.map */