.sidebar {
    position: fixed;
    left: 2rem;
    top: 2rem;
    background-color: $c-bg-dark;
    width: 9rem;
    height: calc(100vh - 4rem);
    padding: 2.5rem 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: all .2s .2s;
    
    &:hover {
        width: 22rem;
    }
    &__logo {
        display: flex;
        align-items: flex-end;
        padding: 1.5rem ;
        color: $c-text-light;
        font-size: 2rem;
        overflow: hidden;
        svg {
            fill: currentColor;        
            min-height: 3rem;
            min-width: 3rem;
            height: 3rem;
            width: 3rem;
            margin-right: 1.75rem;
            // transition: all .2s;
        }
        span {
            font-weight: 700;
            width: 0;
            line-height: 1;
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        margin: 4rem 0 0;
    }
    &__link{
        font-weight: $f-500;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        font-size: 1.6rem;
        color: $c-text-light;
        border-radius: 5px;
        margin: 0 .5rem;
        padding: 1.5rem ;
        overflow: hidden;
        transition: all .2s;
        &:not(:last-child) {
            margin-bottom: 0.75rem;
        }
        &.active,
        &:hover {
            background-color: $c-primary;
        }
        svg {
            fill: currentColor;
            min-width: 2rem;
            min-height: 2rem;
            width: 2rem;
            height: 2rem;
            margin-right: 2rem;
            border: 2px;
        }
        span {
            line-height: 1;
            width: 0;
        }
        &:last-child {
            margin-top: auto;
        }
    }
    hr {
        margin-bottom: .75rem;
        border-color: rgba($color: $c-text-light, $alpha: .3);
    }
}
.sidebar:hover + .main {
margin-left: 24rem;
}
.main {
    margin-left: 11rem;
    transition: all .2s .2s;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 10px;

    .title {
        margin-right: auto; 
        text-transform: capitalize;
        font-size: 2.8rem;
        font-weight: 500;
        color: $c-text-dark;
    }
    .toggle-dark-mode {
        margin-right: 2rem;
        #light {
            display: none;
        }
        svg {
            fill: $c-text-dark;
            width: 2rem;
            height: 2rem;
        }
    }
    &__notification {
        display: flex;
        margin-right: 2rem;
        position: relative;
        svg {
            fill: $c-text-dark;
            width: 2rem;
            height: 2rem;
        }
        span {
            position: absolute;
            right: 0;
            width: 9px;
            height: 9px;
            background-color: #f05e5e;
            border-radius: 50%;
        }
    }
    &__account {
        display: flex;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: $c-bg-light;
        overflow: hidden;
    }
}
.content {
    background-color: white;
    border-radius: 10px;
    font-size: 1.4rem;
    margin: 2rem;
    padding:  2rem;
    min-height: calc(100vh - 122.2px);
    position: relative;
    .loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: inherit;
        color: $c-text-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.8rem;
        span {
            animation: fade .8s ease-in-out infinite alternate;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
    }
    &__buttons {
        display: flex;
        margin-left: auto;
    }
    &__table {
        text-align: center;
        font-size: 1.4rem;
        thead th,
        tfoot th {
            font-weight: 500 !important;
            background-color: darken($color: $c-bg-light, $amount: 5) !important;
            color: $c-text-dark !important;
            border-color: $c-grey-300 !important;
        }
        tbody tr {
            font-size: 1.2rem;
            color: $c-text-dark !important;
        }
        tbody tr:nth-child(even) {
            background-color:  $c-bg-light!important;
        }
        tbody td {
            padding-top: 1.5rem !important;
            padding-bottom: 1.5rem !important;
        }
        .table--action {
            &:not(:last-child) {
                margin-right: 1.5rem;
            }
            svg {
                fill: $c-text-dark;
                width: 2rem;
                height: 2rem;
            }
        }
    }
}
.add-product {
    background-color: rgba($color: #000, $alpha: .5);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    overflow-y: scroll;
    visibility: hidden;
    transition: backdrop-filter .4s,
                visibility .2s;
    &.show {
        backdrop-filter: blur(3px);
        visibility: visible;
        .add-product__box {
            transform: translateX(0);
        }
    }
    &__box {
        transition: transform .2s;
        background-color: $c-bg-light;
        right: 0;
        transform: translateX(100%);
        position: absolute;
        width: 50%;
        padding: 4rem;
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;
        .title {
            text-transform: capitalize;
            font-weight: 500;
            font-size: 2.8rem;
            color: $c-text-dark;
        }
        .close-btn svg {
            fill: #f05e5e;
            width: 2.4rem;
            height: 2.4rem;
        }
    }
    
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    font-size: 1.6rem;  
    label {
        text-transform: capitalize;
        margin-bottom: 1rem;
        color: $c-text-dark;
        font-size: 1.4rem;
        font-weight: 100;
    }
    .form-control {
        font-size: inherit;
        background-color: transparent;
        border: 1px solid rgba($color: $c-text-dark, $alpha: .5);
        border-radius: 5px;
        width: 100%;
        padding: 1rem;
        &:active,
        &:focus {
            border: 1px solid rgba($color: $c-success, $alpha: .5);
            box-shadow: 0 0 3px rgba($color: $c-success, $alpha: .5);
        }
        &:is([type="file"]) {  
        color: $c-text-dark;
        font-weight: 300;
        }
    }
}
.dataTables_wrapper {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    .dataTables_length,
    .dataTables_filter,
    .dataTables_info {
        color: rgba($color: $c-text-dark, $alpha: .7) !important;
        float: none;
        text-align: left;
    }
    .dataTables_length select {
        border-radius: 7px;
        padding: 1rem 2rem;
        margin: 0 .5rem;
    }
    .dataTables_filter {
        order: -1 !important;
        input {
            border-color: rgba($color: $c-text-dark, $alpha: .3) !important;
            border-radius: 7px;
            margin-left: 1.5rem !important;
            padding: 1rem;
            width: 27rem !important;
        }
    }
    .dataTables_info {
        margin-right: auto;
    }
    .dataTables_paginate .paginate_button {
        background: none !important;
        border-radius: 7px;
        border-color: rgba($color: $c-text-dark, $alpha: .5) !important;
        color: rgba($color: $c-text-dark, $alpha: .5) !important;
        &:hover {
            border-color: $c-primary !important;
            color: $c-primary !important;
        }
        &.current {
            border-color: $c-primary !important;
            color: $c-primary !important;
            font-weight: 500;
            &:hover {
                color: $c-primary !important;
            }
        }
    }
    .dataTables_paginate .next,
    .dataTables_paginate .previous {
        border: none !important;
        color: $c-primary !important;
        &.disabled {
            color: rgba($color: $c-text-dark, $alpha: .3) !important;
            &:hover {
                color: rgba($color: $c-text-dark, $alpha: .3) !important;
            }
        }
    }
}

html[data-theme="dark"] {
    body {
        background-color: lighten($c-bg-dark, 3);
    }
    .header {
        background-color: $c-bg-dark;
        .title, &__notification svg,
        .toggle-dark-mode svg {
            color: $c-text-light;
            fill: currentColor;
        }
        &__account {
            background-color: lighten($c-bg-dark, 3);
        }
    }
    .content {
        background-color: $c-bg-dark;
        .btn--default {
            color: rgba($color: $c-text-light, $alpha: .7);
            border-color: rgba($color: $c-text-light, $alpha: .7);
        }
        .loader {
            color: $c-text-light;
        }
        &__table {
            thead th,
            tfoot th {
                background-color: lighten($color: $c-bg-dark, $amount: 3) !important;
                color: $c-text-light !important;
                border-color: lighten($color: $c-bg-dark, $amount: 4) !important;
            }
            tbody tr {
                color: $c-text-light !important;
            }
            tbody tr:nth-child(even) {
                background-color:  lighten($color: $c-bg-dark, $amount: 1)!important;
            }
            .table--action svg {
                fill: $c-text-light;
            }
        }
    }
    .dataTables_length,
    .dataTables_filter,
    .dataTables_info {
        color: rgba($color: $c-text-light, $alpha: .7) !important;
    }
    .dataTables_filter input {
            border-color: rgba($color: $c-text-light, $alpha: .6) !important;
    }
    .dataTables_paginate .paginate_button {
        border-color: rgba($color: $c-text-light, $alpha: .5) !important;
        color: rgba($color: $c-text-light, $alpha: .5) !important;
    }
    .dataTables_paginate .next,
    .dataTables_paginate .previous {
        color: $c-primary !important;
        &.disabled {
            color: rgba($color: $c-text-light, $alpha: .7) !important;
            &:hover {
                color: rgba($color: $c-text-light, $alpha: .7) !important;
            }
        }
    }
}
