*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: $f-body;
    font-weight: 400;
    line-height: 1.15;
    background-color: $c-bg-light;
    color: $c-bg-dark;
    position: relative;
}
a {
    text-decoration: none;
    cursor: pointer;
}
img,video {
    object-fit: cover;
    width: 100%;
    height: auto;
}
.btn {
    line-height: 1;
    font-family: inherit;
    border-radius: 5px;
    border: 2px solid;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: .75rem 1rem;
    cursor: pointer;
    &:not(:last-child) {
        margin-right: 1.5rem;
    }
    &.btn--success {
        background-color: $c-primary;
        color: $c-text-light;
        border-color: $c-primary;
    }
    &.btn--default {
        background-color: transparent;
        color: rgba($color: $c-text-dark, $alpha: .6);
        border-color: rgba($color: $c-text-dark, $alpha: .6);
    }
    &.btn--icon {
        display: flex;
        align-items: center;
        svg {
            fill: currentColor;
            min-width: 1.75rem;
            min-height: 1.75rem;
            width: 1.75rem;
            height: 1.75rem;
            margin-right: 1rem;
        }
    }
}