@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Light.ttf);
    src: url(../font/Poppins-Light.ttf) format("embedded-opentype"),
        url(../font/Poppins-Light.ttf) format("woff2"),
        url(../font/Poppins-Light.ttf) format("woff"),
        url(../font/Poppins-Light.ttf) format("truetype"),
        url(../font/Poppins-Light.ttf) format("svg");
    font-weight: 100;
}
@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
    src: url(../font/Poppins-Regular.ttf) format("embedded-opentype"),
        url(../font/Poppins-Regular.ttf) format("woff2"),
        url(../font/Poppins-Regular.ttf) format("woff"),
        url(../font/Poppins-Regular.ttf) format("truetype"),
        url(../font/Poppins-Regular.ttf) format("svg");
    font-weight: 400;
}
@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Medium.ttf);
    src: url(../font/Poppins-Medium.ttf) format("embedded-opentype"),
        url(../font/Poppins-Medium.ttf) format("woff2"),
        url(../font/Poppins-Medium.ttf) format("woff"),
        url(../font/Poppins-Medium.ttf) format("truetype"),
        url(../font/Poppins-Medium.ttf) format("svg");
    font-weight: 500;
}
@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Bold.ttf);
    src: url(../font/Poppins-Bold.ttf) format("embedded-opentype"),
        url(../font/Poppins-Bold.ttf) format("woff2"),
        url(../font/Poppins-Bold.ttf) format("woff"),
        url(../font/Poppins-Bold.ttf) format("truetype"),
        url(../font/Poppins-Bold.ttf) format("svg");
    font-weight: bold;
}