// Colors
$c-primary: #2cbd72; // green
// $c-primary: #2c7cbd; // blue
// $c-primary: #2a83d6;
$c-success: #6af05e;
$c-warning: #f0b85e;
$c-danger: #f05e5e;
$c-bg-dark: #1f2633;
$c-bg-light: #f7f8f9;
$c-text-light: #f7f8f9;
$c-text-dark: #465572;
$c-grey-300: #cccccc;
$c-grey-500: #777777;
$c-grey-700: #5a5a5a;

// Fonts
$f-body: Poppins, sans-serif;
$f-100: 100;
$f-400: 400;
$f-500: 500;
$f-700: 700;

// Breakpoints
$b-desktop: 1280px;
$b-laptop: 1024px;
$b-tablet: 768px;
$b-mobile: 640px;